{% extends "base.html" %}

{% block title %} Job Finder {% endblock %}

{% block content %}

<!--Формируем список вакансий-->
{% if object_list %}
<h3 class="my-4 text-center">Список ваших компаний.</h3>
{% for obj in  object_list %}
<div class="row ">
    <div class="col-md-8 mx-auto">
        <div class="card my-3">

            <h5 class="card-header"><a href="{% url 'update_company_detail' obj.id %}">{{ obj.name }} </a>
            </h5>
            <div class="card-body">
                <p><strong>Адрес:</strong> {{ obj.address }}</p>
                <p><strong>Номер телефона:</strong> {{ obj.phone_number }}</p>
                {% autoescape off %}
                <p><strong> Сообщение:</strong> {{ obj.message }}</p>
                {% endautoescape %}
                <p><strong> Почта:</strong> {{ obj.email }}</p>
                <p><strong> Вебсайт Компании:</strong> {{ obj.web_site }}</p>
                <p><strong> Девиз Компании:</strong> {{ obj.company_motto }}</p>
            </div>
        </div>
    </div>

</div>
{% endfor %}
{% else %}

<h3 class=" my-4 text-center">Информации о Компании пока не нет!</h3>

{% endif %}
{% endblock %}