<!doctype html>
{% load static %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" crossorigin="anonymous">
    <link href="{% static 'css/album.css' %}" rel="stylesheet">
    <link href="{% static 'css/stylesheet.css' %}" rel="stylesheet" crossorigin="anonymous">

    <title>{% block title %} {% endblock %}</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home'%}">TR </a>
        <div class="collapse navbar-collapse d-flex flex-row-reverse" id="navbarNavDropdown">
            <ul class="navbar-nav ">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Создать или изменить</a>
                    {% if user.is_authenticated %}
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'add_client' %}"> Клиента</a></li>
                        <li><a class="dropdown-item" href="{% url 'add_holiday' %}">Праздник</a></li>
                        <li><a class="dropdown-item" href="{% url 'add_mailing' %}">Рассылку</a></li>
                        <li><a class="dropdown-item" href="{% url 'add_company' %}">Информацию о компании</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">{{user.email}}</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Войти</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% if messages %}
{% for message in messages %}
{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
<div align='center' class=" alert alert-success" role="alert">
    {{ message }}
</div>
{% endif %}
{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
<div align='center' class=" alert alert-danger" role="alert">
    {{ message }}
</div>
{% endif %}
{% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
<div align='center' class=" alert alert-warning" role="alert">
    {{ message }}
</div>
{% endif %}
{% endfor %}
{% endif %}
{% block content %} {% endblock %}


<script src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/manage_groups.js' %}"></script>

<!--Скрипт, для открытия и закрытия доп вкладки "создать или изменить"-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>


</body>
</html>
<!---------------------------выше мой код------------------------------------------------------------->
