{% extends "base.html" %}

{% block title %} Mailing {% endblock %}

{% block content %}
<main role="main">
    <!--Формируем список вакансий-->
    <h3 class="my-4 text-center">Список всех коммерческих предложений.</h3>

    {% if object_list %}
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                {% for obj in object_list %}
                <div class="col-md-4">

                    <div class="card mb-4 shadow-sm">

                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                             xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                             preserveAspectRatio="xMidYMid slice" focusable="false">
                            <rect width="100%" height="100%" fill="#55595c"/>
                            {% if obj.get_first_image %}
                            <image href="{{ obj.get_first_image }}"
                                   width="115%" height="225"/>
                            {% else %}
                            <image href="#"
                                   width="115%" height="225"/>
                            {% endif %}
                        </svg>
                        <div class="card-body">
                            {% autoescape off %}
                            <p class="card-text">{{obj.message|slice:100}}...</p>
                            {% endautoescape %}
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <form action="{% url 'send_mailing' obj.id %}" method="get">
                                        <button type="submit" class="btn btn-sm btn-outline-secondary">Отпр..
                                        </button>
                                    </form>
                                    <form action="{% url 'update_mailing' obj.id %}" method="get">
                                        <button type="submit" class="btn btn-sm btn-outline-secondary">
                                            Редакт..
                                        </button>
                                    </form>
                                </div>
                                <small class="text-muted">{{obj.created_at}}</small>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <nav aria-label="...">
            <ul class="pagination justify-content-center">
                {% if object_list.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?full_name={{ full_name }}&date_of_birth={{date_of_birth}}&email={{email}}&city={{city}}
               &phone_number={{phone_number}}&page={{ object_list.previous_page_number }}"
                       aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% endif %}
                {% for page in object_list.paginator.page_range %}
                <li class="page-item {% if page == object_list.number %} active {% endif %}">
                    <a class="page-link"
                       href="?full_name={{ full_name }}&date_of_birth={{date_of_birth}}&email={{email}}&city={{city}}
               &phone_number={{phone_number}}&page={{page}}">{{page}}</a>
                </li>
                {% endfor %}
                {% if object_list.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?full_name={{ full_name }}&date_of_birth={{date_of_birth}}&email={{email}}&city={{city}}
               &phone_number={{phone_number}}&page={{ object_list.next_page_number }}"
                       aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% else %}

        <h3 class=" my-4 text-center">Коммерческих предложений пока нет!!</h3>
        {% endif %}
    </div>
</main>
{% endblock %}